In [132]:
# Dependencies
import json
import tweepy
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
from datetime import datetime
from pprint import pprint

In [133]:
# Import Twitter API Keys
from config import consumer_key, consumer_secret, access_token, access_token_secret

In [134]:
# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [135]:
# Target Hashtags
target_user =["@BBC", "@CBSNews", "@cnni", "@FoxNews", "@nytimes"]

In [136]:
# List for dictionaries of results
user_results_means_list= []
user_result_list = []
bbc_results = []

In [137]:
# Import and Initialize Sentiment Analyzer
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

In [138]:
public_tweets = api.user_timeline("@BBC", page=1)
pprint(public_tweets[1]["user"]["created_at"])

'Thu Jan 29 08:30:16 +0000 2009'

In [159]:
# Loop through each user
for user in target_user:

    # Variables for holding sentiments
    tweet_text_list = []
    tweet_times = []
    compound_list = []
    positive_list = []
    negative_list = []
    neutral_list = []
    
    # Loop through 10 pages of tweets (total 200 tweets)
    for x in range(1, 6):

        # Get all tweets from home feed
        public_tweets = api.user_timeline(user, page=x)

        # Loop through all tweets
        for tweet in public_tweets:

            # Run Vader Analysis on each tweet
            results = analyzer.polarity_scores(tweet["text"])
            tweet_text = tweet["text"]
            tweet_time = tweet["user"]["created_at"]
            compound = results["compound"]
            pos = results["pos"]
            neu = results["neu"]
            neg = results["neg"]
           # Add each value to the appropriate list
            tweet_text_list.append(tweet_text)
            tweet_times.append(tweet_time)
            compound_list.append(compound)
            positive_list.append(pos)
            negative_list.append(neg)
            neutral_list.append(neu)

    # Create a dictionaty of results
    user_results_means = {
        "Compound Score": np.mean(compound_list),
        "Postive Score": np.mean(positive_list),
        "Neutral Score": np.mean(neutral_list),
        "Negative Score": np.mean(negative_list)
        }
    user_results = {
        "Text" : tweet_text_list,
        "Tweet Time" : tweet_times,
        "Compound Score": compound_list,
        "Postive Score": positive_list,
        "Neutral Score": neutral_list,
        "Negative Score": negative_list
        }
        
    # Append dictionary to list
    
    user_results_means_list.append(user_results_means)
    if user == "@BBC":
        bbc_df = pd.DataFrame(user_results)
    elif user == "@CBSNews":
       cbs_df = pd.DataFrame(user_results)
    elif user == "@cnni":
       cnn_df = pd.DataFrame(user_results)
    elif user == "@FoxNews":
       fox_df = pd.DataFrame(user_results)
    elif user == "@nytimes":
       nyt_df = pd.DataFrame(user_results)

In [160]:
nyt_df.head()

,Compound Score,Negative Score,Neutral Score,Postive Score,Text,Tweet Time
0,-0.4588,0.143,0.857,0.000,A sociologist chronicled the human toll of evi...,Fri Mar 02 20:41:42 +0000 2007
1,0.3612,0.000,0.837,0.163,A number of NFL cheerleading teams will stage ...,Fri Mar 02 20:41:42 +0000 2007
2,0.6124,0.000,0.792,0.208,Is the doctor in? In this new medical age of u...,Fri Mar 02 20:41:42 +0000 2007
3,0.2006,0.099,0.766,0.135,Some conservatives said they were worried that...,Fri Mar 02 20:41:42 +0000 2007
4,-0.5267,0.188,0.726,0.085,"Salman Khan, the Bollywood star, was granted b...",Fri Mar 02 20:41:42 +0000 2007

In [ ]:
for x in range(1,len(target_user)):
    df = pd.DataFrame(results_list[x])
    df["Timestamp"] = range(1, 101)

In [51]:

   
    # Create plot
    x_vals = df["Timestamp"]
    y_vals = df["Compound Score"]
    plt.plot(x_vals,
             y_vals, marker="o", linewidth=0.5,
             alpha=0.8)

# # Incorporate the other graph properties
    now = datetime.now()
    now = now.strftime("%Y-%m-%d %H:%M")
    plt.title(f"Sentiment Analysis of Tweets ({now} for {target_user[x]} )")
    plt.xlim([100,0]) #Bonus
    plt.ylim([-1,1]) #Bonus
    plt.ylabel("Tweet Polarity")
    plt.xlabel("Tweets Ago")
    plt.grid()
    plt.show()

ValueError: If using all scalar values, you must pass an index

,Compound Score,Negative Score,Neutral Score,Postive Score,Username,Timestamp
0,-0.6597,0.265,0.735,0.000,@CBSNews,1
1,-0.8779,0.552,0.448,0.000,@CBSNews,2
2,-0.6369,0.264,0.640,0.096,@CBSNews,3
3,0.0000,0.000,1.000,0.000,@CBSNews,4
4,-0.5994,0.214,0.786,0.000,@CBSNews,5